@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

.scrolldown::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -6px;
    width: 1px;
    height: 20px;
    background-color: #fff;
    transform: skewX(-31deg);
}

.scrolldown::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1px;
    height: 50px;
    background-color: #fff;
}

.level::-webkit-progress-value {
    @apply bg-indigo-600;
}

.level progress::-moz-progress-bar {
    @apply bg-indigo-600;
}